*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: auto;
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;


}


/* nav start */

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
}
.logo{
    font-weight: bold;
    font-size: 32;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    padding-top: 40px;
}
.logo a{
    text-decoration: none;
    color: #0E0E0E;
}
nav .sign-in-btn{
    padding-top: 40px;

}
nav .sign-in-btn button{
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-family: "Work Sans", serif;
    border-color: #006A50;
    border-radius: 8px;
    
}

nav .sign-in-btn button:hover{
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-family: "Work Sans", serif;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
}

/* nav end */
/* hero-start */

.hero-section{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    margin: 50px auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;

}
.hero-content{

    width: 622px;
    height: 326px;
    

}
.hero-content h3{
    font-size: 24px;
    color: #6e6b6b;

}
.hero-content h1{
    font-weight: bold;
    font-size: 56px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 30px;
}





.hero-content button {
    width: 270px;
    height: 56px;
    font-size: 18px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.hero-content button:hover {
    font-family: "Work Sans", serif;
    color: rgb(28, 6, 6);
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;

}


.hero-img{
    width: 474.03px;
    height: 400px;


}
main{
    width: 1280px;
    margin: auto;
}

.pillars-cards-header h2{
    font-weight: 400;
    font-size: 40px;
    font-family: "fira Sans", serif;
    padding-top: 40px;


}

.pillars-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 25px;
}
.pillars-cards .card{
    width: 300px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
}
.pillars-cards .card h4{
    font-weight: bold;
    font-family: Fira Sans;
    font-size: 30px;
    color: #0E0E0E;
    margin-top: 40px;

}
.pillars-cards .card p{

    color: #0E0E0E;
    font-size: 21px;
    padding-top: 20px;
}


/* The Vision of Future start */

.vision-section{
    margin-top: 80px;
}

.vision-section h1{
    font-weight: bold;
    font-size: 40px;
    font-family: "fira Sans", serif;
}

.vision-section p{
    font-size: 18px;
    color: #0E0E0E;
    margin-top: 24px;
}
.vision-cards {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.vision-cards .card-1 {
    width: 410.67px;
    height: 325px;
    background-color: #c3d2eb;
    border-radius: 16px;
    padding: 20px;
}
.vision-cards .card-2 {
    width: 410.67px;
    height: 325px;
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 20px;
}
.vision-cards .card-3 {
    width: 410.67px;
    height: 325px;
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 20px;
}

.vision-cards div {
    margin: 24px 0;
}

.vision-cards h4 {
    font-weight: bold;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
}

.vision-cards p {
    font-size: 16px;
    color: #0E0E0E;
}

.vision-section .vision-cards .btn {
    width: 122px;
    height: 41px;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
}
.vision-cards .btn:hover {
    width: 122px;
    height: 41px;
    background-color: #edf0f5;
    border: 1px solid #0E0E0E;
    border-radius: 8px;
    color: rgb(8, 0, 0);
    margin-top: 30px;
}

.about-yunus{
    padding: 48px 24px;
    background-color: white;
    border-radius: 8px;
    background-image: url(assets/quote-bg.png);
    background-position: 26px 20px;
    background-repeat: no-repeat; 

}
.about-yunus .spech{
    margin: 0 0 18px 0 ;
}
.about-yunus .content-2{
    margin: 10px 0;
}

/* resent-news-section start */

.resent-news{
    margin-top: 80px;
}


.resent-news div h1{
    font-weight: bold;
    font-size: 40px;
}
.resent-news div p{
    font-size: 16px;
    color: #6e6b6b;
    margin-top: 24px;

}
.resent-news .cards .card-1, .card-2, .card-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 402px;
    background-color: #FFFFFF;
    padding-top: 10px;
    margin-top: 32px;
    border-radius: 24px;

    
}
.resent-news .cards .satelite-img{
    width: 408px; 
    height: 306px; 
    border-radius: 24px;
    margin-left: 48px;
    margin-right: 48px;
}
.resent-news .time p{
    display: inline;
}

.resent-news .btn{
    border: none;
    padding: 20px;
    margin-top: 32px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
}
.resent-news .btn:hover{
    border: 1px solid #006A50;
    padding: 20px;
    margin-top: 32px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #006A50;
}

.resent-news .card-2 .content{
    margin-left: 48px;
}

/* donate-section start */

.donate-section{
    text-align: center;
    margin-top: 80px;
}
.donate-section .content h1{
    font-size: 40px;
    margin: 24px;
}
.donate-section .content p{
    width: 1104px;
    color: #6e6b6b;
    margin: 32px auto;
    font-size: 16px;
   
}
.donate-section .options button{
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 16px;
    margin: 12px;
    background-color: #FFFFFF;
    border: none;
    color: #0E0E0E;
}
.donate-section .options button:hover{
    background-color: #C6E4D6;
}

.donate-section input{
    width: 1000px;
    height: 50px;
    margin: 32px;
    text-align: center;
    border: none;
}
.donate-section button {
    width: 151px;
    height: 56px;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
.donate-section button:hover{
    background-color: #57a893;
    color: #0E0E0E;
}

/* Subscribe section start */

.subscribe-section{
    text-align: center;
    margin: 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 60px;
}

.subscribe-content{
    width: 750px;
    height: 112px;
    margin: 24px auto;
}
.subscribe-content p{
    padding: 20px;
    font-size: 16px;
    color: #6e6b6b;

}
.subscribe-content h1{
    font-size: 40px;
}
.subscribe-form{
    width: 750px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.subscribe-form input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 70%;
}
  
.subscribe-form button {
    padding: 15px 30px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #228b22; /* Green */
    border: none;
    border-radius: 0 8px 8px 0;
}
  
.subscribe-form button:hover {
    background-color: #0a5208;
}
   
.subscribe-section span{
    margin-top: 1000px;
    color: #888;
} 
 
/* footer start  */


.footer {
    text-align: center;
    padding: 80px;
    background-color: #f9f9f9; 
    border-radius: 20px;
}

.footer h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 100px;
    color: #000;
}

.footer .line {
    width: 70%;
    height: 1px;
    background-color: #ccc;
    margin:40px auto;
}

.footer .icon {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer .icon a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

.footer .icon a:hover {
    color: #007bff; 
}
